//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 05 12:36:22 2024
//! **************************************************************************

SCHEMATIC START;
COMP "RT<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "endYD" LOCATE = SITE "P134" LEVEL 1;
COMP "endXL" LOCATE = SITE "P127" LEVEL 1;
COMP "endXR" LOCATE = SITE "P124" LEVEL 1;
COMP "endYU" LOCATE = SITE "P132" LEVEL 1;
COMP "L3_P79" LOCATE = SITE "P79" LEVEL 1;
COMP "L4_P78" LOCATE = SITE "P78" LEVEL 1;
COMP "L6_P74" LOCATE = SITE "P74" LEVEL 1;
COMP "L7_P67" LOCATE = SITE "P67" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "COMMON<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "COMMON<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "COMMON<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "COMMON<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "MN3_P92" LOCATE = SITE "P92" LEVEL 1;
COMP "MN4_P88" LOCATE = SITE "P88" LEVEL 1;
COMP "MN6_P85" LOCATE = SITE "P85" LEVEL 1;
COMP "MN7_P84" LOCATE = SITE "P84" LEVEL 1;
COMP "OSC_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "SW3_P59" LOCATE = SITE "P59" LEVEL 1;
COMP "enSH" LOCATE = SITE "P139" LEVEL 1;
COMP "xDir" LOCATE = SITE "P126" LEVEL 1;
COMP "yDir" LOCATE = SITE "P133" LEVEL 1;
COMP "endXMotor" LOCATE = SITE "P131" LEVEL 1;
COMP "endYMotor" LOCATE = SITE "P137" LEVEL 1;
COMP "LD<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "LD<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "LD<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "GX<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "GX<1>" LOCATE = SITE "P81" LEVEL 1;
COMP "GX<2>" LOCATE = SITE "P80" LEVEL 1;
COMP "GY<0>" LOCATE = SITE "P95" LEVEL 1;
COMP "GY<1>" LOCATE = SITE "P94" LEVEL 1;
COMP "GY<2>" LOCATE = SITE "P93" LEVEL 1;
COMP "RD<0>" LOCATE = SITE "P17" LEVEL 1;
COMP "RD<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "RD<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "LT<0>" LOCATE = SITE "P9" LEVEL 1;
COMP "LT<1>" LOCATE = SITE "P7" LEVEL 1;
COMP "LT<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "RT<0>" LOCATE = SITE "P10" LEVEL 1;
COMP "RT<1>" LOCATE = SITE "P8" LEVEL 1;
SCHEMATIC END;

