//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 05 17:34:58 2024
//! **************************************************************************

SCHEMATIC START;
COMP "OSC_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "COMMON<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "COMMON<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "COMMON<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "isdx" LOCATE = SITE "P133" LEVEL 1;
COMP "isdy" LOCATE = SITE "P137" LEVEL 1;
COMP "GX<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "GX<1>" LOCATE = SITE "P81" LEVEL 1;
COMP "GX<2>" LOCATE = SITE "P80" LEVEL 1;
COMP "GY<0>" LOCATE = SITE "P95" LEVEL 1;
COMP "GY<1>" LOCATE = SITE "P94" LEVEL 1;
COMP "GY<2>" LOCATE = SITE "P93" LEVEL 1;
COMP "RD<0>" LOCATE = SITE "P17" LEVEL 1;
COMP "RD<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "RD<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "LD<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "LD<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "xDir" LOCATE = SITE "P126" LEVEL 1;
COMP "LD<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "yDir" LOCATE = SITE "P131" LEVEL 1;
COMP "RT<0>" LOCATE = SITE "P10" LEVEL 1;
COMP "RT<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "RT<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "LT<0>" LOCATE = SITE "P9" LEVEL 1;
COMP "LT<1>" LOCATE = SITE "P7" LEVEL 1;
COMP "LT<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "COMMON<0>" LOCATE = SITE "P44" LEVEL 1;
SCHEMATIC END;

