//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 07 09:44:00 2024
//! **************************************************************************

SCHEMATIC START;
COMP "OSC_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "SW7_P55" LOCATE = SITE "P55" LEVEL 1;
COMP "wr" LOCATE = SITE "P132" LEVEL 1;
COMP "xDir" LOCATE = SITE "P126" LEVEL 1;
COMP "yDir" LOCATE = SITE "P131" LEVEL 1;
COMP "isdx" LOCATE = SITE "P133" LEVEL 1;
COMP "isdy" LOCATE = SITE "P137" LEVEL 1;
COMP "GX<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "GX<1>" LOCATE = SITE "P81" LEVEL 1;
COMP "GX<2>" LOCATE = SITE "P80" LEVEL 1;
COMP "GX<3>" LOCATE = SITE "P79" LEVEL 1;
COMP "GY<0>" LOCATE = SITE "P95" LEVEL 1;
COMP "GX<4>" LOCATE = SITE "P78" LEVEL 1;
COMP "GY<1>" LOCATE = SITE "P94" LEVEL 1;
COMP "GX<5>" LOCATE = SITE "P75" LEVEL 1;
COMP "GY<2>" LOCATE = SITE "P93" LEVEL 1;
COMP "GX<6>" LOCATE = SITE "P74" LEVEL 1;
COMP "GY<3>" LOCATE = SITE "P92" LEVEL 1;
COMP "GX<7>" LOCATE = SITE "P67" LEVEL 1;
COMP "GY<4>" LOCATE = SITE "P88" LEVEL 1;
COMP "GY<5>" LOCATE = SITE "P87" LEVEL 1;
COMP "GY<6>" LOCATE = SITE "P85" LEVEL 1;
COMP "GY<7>" LOCATE = SITE "P84" LEVEL 1;
COMP "address_bus<0>" LOCATE = SITE "P127" LEVEL 1;
COMP "address_bus<1>" LOCATE = SITE "P124" LEVEL 1;
COMP "databus<0>" LOCATE = SITE "P23" LEVEL 1;
COMP "databus<1>" LOCATE = SITE "P21" LEVEL 1;
COMP "databus<2>" LOCATE = SITE "P16" LEVEL 1;
COMP "databus<3>" LOCATE = SITE "P14" LEVEL 1;
COMP "databus<4>" LOCATE = SITE "P11" LEVEL 1;
COMP "databus<5>" LOCATE = SITE "P9" LEVEL 1;
COMP "databus<6>" LOCATE = SITE "P7" LEVEL 1;
COMP "databus<7>" LOCATE = SITE "P5" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "threshold<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "threshold<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "threshold<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "threshold<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "threshold<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "threshold<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "threshold<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "COMMON<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "COMMON<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "COMMON<2>" LOCATE = SITE "P33" LEVEL 1;
COMP "COMMON<3>" LOCATE = SITE "P30" LEVEL 1;
SCHEMATIC END;

